.campersList{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: calc(100% - 360px - 64px);
    align-items: center;
}

.loadMoreBtn{
    width: 145px;
    border-radius: 200px;
    border: 1px solid #DADDE1;
    padding: 16px 32px;
    color: #101828;
    margin-bottom: 8px;
}

.loadMoreBtn:hover{
    border-color: #D84343;
}